In [1]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib as mpl
import seaborn as sns

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/Apress/data-analysis-and-visualization-using-python/master/Ch07/Salaries.csv?fbclid=IwAR3N-zWFt7z4a--nOMxgokmWwSK237YONWoKtZ6Xo3SV-pvzqLkShlJUDLQ")

In [4]:
df.head(5)

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

In [7]:
df['salary'].dtype

dtype('int64')

In [8]:
df.dtypes

rank          object
discipline    object
phd            int64
service        int64
sex           object
salary         int64
dtype: object

In [9]:
df.std()

phd           12.498425
service       12.139768
salary     28293.661022
dtype: float64

In [10]:
df.skew()

phd        0.634366
service    0.913750
salary     0.452103
dtype: float64

In [11]:
df.kurt()

phd        0.042504
service    0.608981
salary    -0.401713
dtype: float64

In [13]:
df.min()

rank          AssocProf
discipline            A
phd                   1
service               0
sex              Female
salary            57800
dtype: object

In [14]:
df.max()

rank            Prof
discipline         B
phd               56
service           51
sex             Male
salary        186960
dtype: object

In [15]:
df.quantile(0.25)

phd           10.25
service        5.25
salary     88612.50
Name: 0.25, dtype: float64

In [16]:
df.quantile(0.50)

phd            18.5
service        14.5
salary     104671.0
Name: 0.5, dtype: float64

In [17]:
df.quantile(0.10)

phd            4.0
service        2.0
salary     73440.0
Name: 0.1, dtype: float64

In [18]:
df.quantile(0.20)

phd            8.0
service        3.0
salary     79190.0
Name: 0.2, dtype: float64

In [19]:
df.quantile(0.30)

phd           12.0
service        7.0
salary     91120.0
Name: 0.3, dtype: float64

In [20]:
df.quantile(0.40)

phd           17.0
service        8.8
salary     98940.8
Name: 0.4, dtype: float64

In [21]:
df.quantile(0.50)

phd            18.5
service        14.5
salary     104671.0
Name: 0.5, dtype: float64

In [22]:
df.quantile(0.60)

phd            21.2
service        18.0
salary     110066.2
Name: 0.6, dtype: float64

In [23]:
df.quantile(0.70)

phd            25.0
service        19.0
salary     122904.0
Name: 0.7, dtype: float64

In [24]:
df.quantile(0.80)

phd            29.0
service        23.0
salary     130323.0
Name: 0.8, dtype: float64

In [25]:
df.quantile(0.90)

phd            36.6
service        31.0
salary     150486.0
Name: 0.9, dtype: float64

In [26]:
df.quantile(1)

phd            56.0
service        51.0
salary     186960.0
Name: 1, dtype: float64

In [27]:
std = df.std()
mean = df.mean()

cv = (std/mean) * 100
print(cv)

phd        63.427270
service    80.656037
salary     26.192067
dtype: float64

In [30]:
n = len(df)
error = np.sqrt(6 * n * (n-1) / ((n-2) * (n+1) * (n+3)))
stdskew_error = df.skew() / error
print(stdskew_error)

# search for the formula in google then replace the number of columns using n

phd        2.330422
service    3.356772
salary     1.660854
dtype: float64

In [29]:
n = len(df)
kerror = np.sqrt((24 * n * (n-2) * (n-3)) / ((n+1) * (n+3) * (n+5) * (n+7)))
stdkurtosis_error = df.kurtosis() / kerror
print(stdkurtosis_error)

#can search the formula for google then just count the number of columns to get n

phd        0.087426
service    1.252615
salary    -0.826285
dtype: float64